---
import { SITE } from "../consts";
import Header from '../components/Header.astro';
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - {SITE.TITLE}</title>
</head>
<body>
<Header />
<main class="container mx-auto mt-24">
  <h1 class="text-4xl font-bold">Welcome to My Blog</h1>
  <p class="mt-4">This is the homepage of my blog built with Astro, Tailwind CSS, and TypeScript.</p>

  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>
  <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Integer convallis venenatis lorem, a consectetur tortor ultricies in. Suspendisse potenti. Donec tincidunt risus vitae quam tempor, non convallis dolor dictum. Curabitur vehicula dignissim quam, nec faucibus turpis euismod sit amet. Mauris vel tincidunt justo. Vestibulum eget semper nulla, et dictum nulla. Nulla facilisi. Phasellus nec nunc at dui bibendum aliquam. Fusce dapibus, nulla at consectetur dignissim, nisl nisl euismod risus, in condimentum lorem turpis ac velit. Aliquam erat volutpat. In vitae erat lacus. Pellentesque vehicula ex eget leo bibendum, a fermentum ligula aliquet. Nullam euismod efficitur libero non pharetra. Cras vel tincidunt lorem. Nam volutpat est non orci placerat interdum.
  </p>

  <!-- Add more content as needed -->
</main>
</body>
</html>
